
@using PagedList
@using PagedList.Mvc
@model IPagedList<odulsistemi.Models.odul_oneri>

@{
    ViewBag.Title = "adminSayfa";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
}
<form>
    <table id="tableAdmin" style="border-collapse: collapse;margin-top: 30px;text-align: center;margin-left: auto;margin-right: auto;table-layout: fixed;">
        <caption id="oneriTakipBaslik" style="font-size: 20px;font-weight: bold;">ÖNERİ TAKİP LİSTESİ</caption>
        <tr>
            <th style="height:40px; width:80px;border: 1px solid black; text-align:center;">NO</th>
            <th style="width:90px;border: 1px solid black;text-align:center;">TARİH</th>
            <th style="width:200px;border: 1px solid black;text-align:center;">AD SOYAD</th>
            <th style="width:120px;border: 1px solid black;text-align:center;">SİCİL NO</th>
            <th style="width:300px;border: 1px solid black;text-align:center;">ÖNERİ TİPİ</th>
            <th style="width:150px;border: 1px solid black;text-align:center;"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td style="background-color:white;font-weight:lighter; height:50px; width:80px;border: 1px solid black; text-align:center;max-width:100px;word-wrap:break-word;">
                    @Html.DisplayFor(modelItem => item.odul_id)
                </td>
                <td style="background-color:white;font-weight:lighter; width:80px;border: 1px solid black; text-align:center;max-width:100px;word-wrap:break-word;">
                    @Html.DisplayFor(modelItem => item.odul_tarih)
                </td>
                <td style="background-color:white;font-weight:lighter; width:150px;border: 1px solid black; text-align:center;max-width:100px;word-wrap:break-word;">
                    @Html.DisplayFor(modelItem => item.odul_user.ad)
                    @Html.DisplayFor(modelItem => item.odul_user.soyad)
                </td>
                <td style="background-color:white;font-weight:lighter; width:80px;border: 1px solid black; text-align:center;max-width:100px;word-wrap:break-word;">
                    @Html.DisplayFor(modelItem => item.odul_user.sicilNo)
                </td>
                <td style="background-color:white;font-weight:lighter; width:150px;border: 1px solid black; text-align:center;max-width:100px;word-wrap:break-word;">
                    @Html.DisplayFor(modelItem => item.odul_tipi.tip_adi)
                </td>
                <td style="background-color:white;font-weight:lighter; width:80px;border: 1px solid black; text-align:center;max-width:100px;word-wrap:break-word;">
                    @Html.ActionLink("Görüntüle", "goruntuleSayfa", new { id = item.odul_id }) |
                    @Html.ActionLink("Kontrol Et", "kontrolSayfa", new { id = item.odul_id })
                </td>
            </tr>
        }
    </table>

</form>
